body{
    margin: 0px;
    margin-top: 5px;
}
.App {
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    
}

#progress-indicator {
    width: 40px;
    height: 40px;
    border: 3px solid #06f;
    border-right: 5px;
    border-right-color: white;
    border-radius: 100%;
  
    position: fixed;
    left: 50%;
    top: 20%;
  
    animation: spin 0.5s ease-out infinite;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }